{% load static %}

<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Photo Gallery</title>
    </head>
    <body>
        <header>
            <h1>Photo Gallery</h1>
            {% block navbar %}
            <nav>
                <a href="{%url 'index' %}">Home</a>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'user_galleries' %}">My Galleries</a>
                <a href="{% url 'user_photos' %}">My Photos</a>
                <a href="{% url 'search' %}">Search</a>
                <a href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a href="#">Search</a>
                <a href="{% url 'account_login' %}">Login</a>
                {% endif %}
            </nav>
            {% endblock %}
        </header>
        <main class="flex-container">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>