{% extends "base.html" %}

{% block content %}
<h2 class="title">Edit Gallery</h2>
<div>
    <form class="form-style" action="{% url 'edit_gallery' gallery_pk=gallery.pk %}"method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Update Gallery</button>
           <a class="link" href="{% url 'view_gallery' gallery_pk=gallery.pk %}">Cancel Update</a> 
        </div>
    </form>
</div>
<h2 class="title">Gallery Photos</h2>
<div class="flex-container">
    {% for photo in photos %}
    <div class="flex-item">
        <img src="{{ photo.photo_thumb.url }}"/>
        <div class="text">{{ photo.camera }}</div>
        <a class="link" href="{% url 'view_photo' photo_pk=photo.pk %}">View Photo</a>
    </div>
    {% empty %}
    <p class="text">There are no photos in this gallery yet!</p>
    {% endfor %}
</div>
<h2 class="title">Add more Photos to your Gallery</h2>
<div>
    <form action="{% url 'add_photo_to_gallery' gallery_pk=gallery.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ PhotoForm.photo }}</p>
        <button type="submit">Add Photos</button>
    </form>
</div> 
{% endblock %}