{% extends "base.html" %}

{% block content %}
<h2 class="title">My Photos</h2>
{% if photos is not None %}
    {%for photo in photos %}
    <div class="flex-item">
        <img src="{{ photo.photo_thumb.url }}"/><br>
        <a class="link" href="{% url 'view_photo' photo_pk=photo.pk %}">View Photo</a>
    </div>
    {% empty %}
        <p class="text">You have no photos. Add some now!</p>
        <a class="link" href="{% url 'add_photo' %}">Add Photo</a>
        <p class="text">Or start a gallery!</p>
        <a class="link" href="{% url 'add_gallery' %}">Create Gallery</a>
    {% endfor %}
{% endif %}
{% endblock %}