{% extends "base.html" %}

{% block content %}
<h2 class="title">My Galleries</h2>
<div>
    {% if galleries is not None %}
    {% for gallery in galleries %}
    <div>
        <a class="link" href="{% url 'view_gallery' gallery.pk %}">{{ gallery.title }}</a>
        <div><img src="{{ gallery.photos.first.photo_thumb.url }}"></div>
    </div><br>
    {% empty %}
    <p class="text">You have no galleries. Start one now!</p>
    <a class="link" href="{% url 'add_gallery' %}">Create Gallery</a>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}