{% extends "base.html" %}

{% block content %}
<div>
    <img src="{{ photo.photo_large.url }}"/>
</div>
<h4 class="text">
    <a id="toggle-star" data-photo-id="{{ photo_pk }}">
        {% if starred_photo == True %}
            &#9733;
        {% else %}
            &#9734;
        {% endif %}
    </a> Number of stars: {{ photo.num_stars }}
</h4>
<div class="text">Camera: {{ photo.camera }}</div><br>
<div class="text">By: {{ photo.photo_by }}</div><br>
<div class="text">Date: {{ photo.photo_added_date }}</div><br>
{% if user.is_authenticated and request.user == photo.photo_by %}
<p>
    <a class="link" href="#">Edit Photo</a>
    <a class="link" href="{% url 'delete_photo' photo_pk=photo_pk %}">Delete Photo</a>
</p>
{% endif %}
<div>
    <form action="{% url 'add_comment' photo_pk=photo_pk %}" method="POST">
        {% csrf_token %}
        {{ CommentForm.as_p }}
        <button type="submit">Add Comment</button>
    </form>
</div>
<h2 class="title">Comments</h2>
<div class="text">Number of comments: {{ photo.num_comments }}</div>
{% if comments is not None %}
    {% for comment in comments %}
    <div class="flex-item">
        <div class="text">{{ comment.comment_by }}</div><br>
        <div class="text">{{ comment.body }}</div><br>
        <div class="text">{{ comment.comment_date }}</div><br>
    </div>
    {% empty %}
    <p class="text">No comments yet!</p>
    {% endfor %}
{% endif %}


<script>
    const toggleStarLink = document.querySelector("#toggle-star")
    toggleStarLink.addEventListener("click", function (e) {
        e.preventDefault()
        const photoId = toggleStarLink.dataset.photoId
        fetch(`/photo/${photoId}/starred/`, {
            method: "POST"
        })
        .then(res => res.json())
        .then(data => {
            if (data.starred_photo) {
                toggleStarLink.innerHTML = "&#9733;"
            } else {
                toggleStarLink.innerHTML = "&#9734;"
            }
        })
    })
</script>
{% endblock %}