{% extends "base.html" %}

{% block content %}

<img src="{{ photo.photo_large.url }}"/>
<h4 class="text">
    <a id="toggle-star" data-photo-id="{{ photo_pk }}">
        {% if starred_photo == True %}
            &#9733;
        {% else %}
            &#9734;
        {% endif %}
    </a> Number of stars: {{ photo.num_stars }}
</h4>
<p class="text">Camera: {{ photo.camera }}</p>
<p class="text">By: {{ photo.photo_by }}</p>
<p class="text">Date: {{ photo.photo_added_date }}</p>
{% if user.is_authenticated and request.user == photo.photo_by %}
<p>
    <a class="link" href="#">Edit Photo</a>
    <a class="link" href="{% url 'delete_photo' photo_pk=photo_pk %}">Delete Photo</a>
</p>
{% else %}
<div>
    <form action="{% url 'add_comment' photo_pk=photo_pk %}" method="POST">
        {% csrf_token %}
        {{ CommentForm.as_p }}
        <button type="submit">Add Comment</button>
    </form>
</div>
{% endif %}
<h2 class="title">Comments</h2>
{% if comments is not None %}
    {% for comment in comments %}
    <div class="flex-item">
        <p class="text">{{ comment.comment_by }}</p>
        <p class="text">{{ comment.body }}</p>
        <p class="text">{{ comment.comment_date }}</p>
    </div>
    {% empty %}
    <p class="text">No comments yet!</p>
    {% endfor %}
{% endif %}


<script>
    const toggleStarLink = document.querySelector("#toggle-star")
    toggleStarLink.addEventListener("click", function (e) {
        e.preventDefault()
        const photoId = toggleStarLink.dataset.photoId
        fetch(`/photo/${photoId}/starred/`, {
            method: "POST"
        })
        .then(res => res.json())
        .then(data => {
            if (data.starred_photo) {
                toggleStarLink.innerHTML = "&#9733;"
            } else {
                toggleStarLink.innerHTML = "&#9734;"
            }
        })
    })
</script>
{% endblock %}